github "Vidhyadharan-Mohanram/SideMenuController" "master"
github "ashleymills/Reachability.swift"
github "TheLevelUp/ZXingObjC" "master"
github "AFNetworking/AFNetworking" ~> 3.0
github "BranchMetrics/ios-branch-deep-linking"
github "ninjaprox/NVActivityIndicatorView"
github "muukii/NextGrowingTextView"
github "hackiftekhar/IQKeyboardManager" "master"
github "Vidhyadharan-Mohanram/AMPopTip" "master"
github "lkzhao/Hero"
github "AssistoLab/DropDown" "master"
github "facebook/Facebook-SDK-Swift"
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Fabric.json"
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Crashlytics.json"
github "iziz/libPhoneNumber-iOS"
github "kishikawakatsumi/UICKeyChainStore"
github "kishikawakatsumi/KeychainAccess"
github "AppsFlyerSDK/AppsFlyerFramework"
github "StanK23/UIImageColors" "1acd91f6588f65edb5b302d7fb36c07e60e91eb0"
github "adamwaite/Validator" "master"
github "SwiftKickMobile/SwiftMessages"
github "mixpanel/mixpanel-swift"
