<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<string>Home_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_account</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_account</string>
		<key>title</key>
		<string>Home</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Order_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_order</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/order/</string>
		<key>tabImage</key>
		<string>nav_order</string>
		<key>title</key>
		<string>Order Now</string>
		<key>loginMandatory</key>
		<false/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Feed_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_history</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_history</string>
		<key>title</key>
		<string>Order History</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Pay_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_account</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/pay/</string>
		<key>tabImage</key>
		<string>nav_account</string>
		<key>title</key>
		<string>Wallet</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>ReferEarn_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_referearn</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_referearn</string>
		<key>title</key>
		<string>Refer and earn</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Schedule_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_schedule</string>
		<key>url</key>
		<string>http://www.platinumcineplex.co.id/city/13_magelang</string>
		<key>tabImage</key>
		<string>nav_schedule</string>
		<key>title</key>
		<string>Schedule</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Bulk_ordering_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_bulk_ordering</string>
		<key>url</key>
		<string>http://chaipoint.com/olo/pagerequest?page=bulkorder&amp;phone=%@&amp;email=%@</string>
		<key>tabImage</key>
		<string>nav_bulk_ordering</string>
		<key>title</key>
		<string>Bulk ordering</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Subscription_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_subscription</string>
		<key>url</key>
		<string>http://chaipoint.com/olo/pagerequest?page=subscribe&amp;phone=%@&amp;email=%@</string>
		<key>tabImage</key>
		<string>nav_subscription</string>
		<key>title</key>
		<string>Subscription</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Rewards_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_reward</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_reward</string>
		<key>title</key>
		<string>Rewards</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Rewards_tab_web</string>
		<key>tabSelectedIcon</key>
		<string>nav_reward</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/rewards/</string>
		<key>tabImage</key>
		<string>nav_reward</string>
		<key>title</key>
		<string>Rewards</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Promo_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_promo</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/promos/</string>
		<key>tabImage</key>
		<string>nav_promo</string>
		<key>title</key>
		<string>Promo Code</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Offer_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_offer</string>
		<key>url</key>
		<string>http://offers.ratnadeepsupermarket.com/</string>
		<key>tabImage</key>
		<string>nav_offer</string>
		<key>title</key>
		<string>Offers</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Feed_tab_web</string>
		<key>tabSelectedIcon</key>
		<string>nav_history</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/messages/</string>
		<key>tabImage</key>
		<string>nav_history</string>
		<key>title</key>
		<string>History</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Presidente_reward_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_reward</string>
		<key>url</key>
		<string>https://www.presidenterewards.com/Login.aspx</string>
		<key>tabImage</key>
		<string>nav_reward</string>
		<key>title</key>
		<string>Presidente Rewards</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Book_table_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_book_table</string>
		<key>url</key>
		<string>http://www.inresto.com/public/widgets/reservations/home/565ebda3271663de08b3fec3</string>
		<key>tabImage</key>
		<string>nav_book_table</string>
		<key>title</key>
		<string>Book A Table</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Feedback_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_feedback</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/review/</string>
		<key>tabImage</key>
		<string>nav_feedback</string>
		<key>title</key>
		<string>Feedback</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Notification_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_notification</string>
		<key>url</key>
		<string>https://urbanpiper.com/biz/%@/messages/</string>
		<key>tabImage</key>
		<string>nav_notification</string>
		<key>title</key>
		<string>Notifications</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Locations_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_location</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/location/</string>
		<key>tabImage</key>
		<string>nav_location</string>
		<key>title</key>
		<string>Locations</string>
		<key>loginMandatory</key>
		<false/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Store_Locations_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_location</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_location</string>
		<key>title</key>
		<string>Store Locations</string>
		<key>loginMandatory</key>
		<false/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Faq_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_faq</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/biz/%@/faq/?no-decoration=true</string>
		<key>tabImage</key>
		<string>nav_faq</string>
		<key>title</key>
		<string>FAQ&apos;s</string>
		<key>loginMandatory</key>
		<false/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Settings_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_setting</string>
		<key>url</key>
		<string>https://www.urbanpiper.com/member/settings/?biz_id=%@</string>
		<key>tabImage</key>
		<string>nav_setting</string>
		<key>title</key>
		<string>Settings</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Settings_tab_native</string>
		<key>tabSelectedIcon</key>
		<string>nav_setting</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_setting</string>
		<key>title</key>
		<string>Settings</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>ConstactUs_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_contactus</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_contactus</string>
		<key>title</key>
		<string>Contact Us</string>
		<key>loginMandatory</key>
		<false/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Logout_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_logout</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_logout</string>
		<key>title</key>
		<string>Logout</string>
		<key>loginMandatory</key>
		<true/>
	</dict>
	<dict>
		<key>tag</key>
		<string>Login_tab</string>
		<key>tabSelectedIcon</key>
		<string>nav_login</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>nav_login</string>
		<key>title</key>
		<string>Login</string>
		<key>loginMandatory</key>
		<false/>
	</dict>
	<dict>
		<key>tag</key>
		<string>AboutUs_tab</string>
		<key>tabSelectedIcon</key>
		<string>info</string>
		<key>url</key>
		<string></string>
		<key>tabImage</key>
		<string>info</string>
		<key>title</key>
		<string>About Us</string>
		<key>loginMandatory</key>
		<false/>
	</dict>
</array>
</plist>
